@import "../../../global.scss";

.header-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;

    .active {
        color: $tomato;
    }

    .button {
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        outline: none;
        padding: .5rem 1rem;
    }

    .logout {
        background-color: $tomato;
        border: none;
        outline: none;
        
        &:hover {
            background-color: $pink;
        }
    }

    .logout-btn-container {
        display: flex;
    }

    .user-profile-picture {
        border-radius: 50%;
        height: 30px;
        margin: 0 5px;
        width: 30px;
    }

    .nav-item {
        color: $pink;
        font-weight: 700;
        text-decoration: none;
    }

    .navlinks-group {
        display: flex;
        justify-content: space-evenly;
        flex: 3 1 auto;
    }

    .no-button {
        background: $white-dark;
        border: none;
        outline: none;
    }

    .selected {
        color: $tomato;
    }
}

@media (max-width: 350px) {
    .layout {
        margin: 1rem;
    }
}
