@import "../../global.scss";

.notes-landing-page {
    .mobile { display: none; }

    .notes {
        display: flex;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: -2rem;
    }

    .column {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .entry-card-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 10%;
    }

    .error-container {
        align-content: center;
        align-items: center;
        border: 2px solid $tomato;
        border-radius: 1rem;
        box-shadow: 1rem .25rem 1rem 0.5rem 
            $grey;
        display: flex;
        flex-direction: column;
        margin: 0 5%;
        max-width: 90%;
        padding: 2rem;
    }

    .react-datepicker__day--highlighted-custom-1 {
        background-color: aqua;
    }

    .red {
        color: $tomato;
        margin-left: 1rem;

        &:hover {
            background-color: $pink; 
        }
    }

    .search-box-container {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .search {
        border-radius: 1rem;
        font-size: 1rem;
        height: 3rem;
        padding: 0 0.5rem;
        width: 50%;
    }

    .left {
        margin-left: 1.5rem;

        .datepicker {
            margin-top: 1rem;
        }
    }

    .logout {
        background-color: $tomato;

        &:hover {
            background-color: $pink; 
        }
    }

    .no-display {
        display: none;
    }

    .save {
        background-color: $tomato;

        &:hover {
            background-color: $pink;
        }
    }

    .textArea {
        border-radius: 1rem;
        box-shadow: 1rem 1rem 1rem 1rem $grey;
        font-size: medium;
        font-weight: 500;
        width: 80%;
        margin-left: 1rem;
        padding: 1rem;
        resize: vertical;
    }

    .textArea-container {
        max-width: 70%;
    }

    .vertical-rule {
        background-color: $silver-dark;
        border: 2px solid $silver-dark;
        box-shadow: 0.25rem 0.25rem 0.25rem black;
        min-height: 100vh;
        margin: 0 1rem;
    }
    
    @media (max-width: 1243px) {
        .mobile { display: block; }

        .desktop {
            display: none;
        }

        .notes {
            flex-direction: column;
            gap: 1rem;
        }
    
        .textArea {
            margin: 1rem auto;
            width: 90%;
        }

        .left {
            display: flex;
            justify-content: center;
            margin-left: 0;
            order: 0;
        }

        .vertical-rule {
            display: none;
        }

        .fab-container {
            position: fixed;
            bottom: 50px;
            right: 20px;
            cursor: pointer;

            .iconbutton {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background: #FF4F79;
                box-shadow: 10px 10px 5px #aaaaaa;
            }
            
            .button{
                width: 60px;
                height: 60px;
                background: $tomato;
            }

            .i{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: white;
            }
        }
    }
}
