@import "../../global.scss";

.entry-card-layout {
    display: flex;

    .entry-card {
        border: 1px solid $tomato;
        padding: 0.5rem 1.25rem;
        border-radius: 1rem;
        margin: 0.25rem;
    }

    .date-time-log {
        display: flex;
        justify-content: space-between;
        font-size: small;
        margin: 0.5rem 0 0 0;
    }

    .entry-content {
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .highlight {
        color: $tomato;
    }

    .left {
        margin-left: 1rem;
    }

    .time {
        font-weight: 600;
    }
}
