@import "../../global.scss";

.login-page-container {
    .heading-text-content {
        max-width: 800px;
    }

    .about {
        display: flex;
        justify-content: space-evenly;
        // margin: 2rem auto;
        // max-width: 1200px;
        
        .stack {
            align-items: center;
            display: flex;
            flex-direction: column;
            
            justify-content: space-evenly;
            gap: 2rem;
            width: 250px;
            height: 250px;
            border-radius: 15%;
            // box-shadow: 0 0  10px rgba(0,0,0,.1);
            padding: 20px;
            position: relative;
            .stack-font {
                font-size: 24px;
            }
            
            .card_back{    
                transform: rotate3d(0, 1, 0, 180deg);
                position: absolute;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                z-index: 1;
                text-align: center;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: red;
                display: none;
                opacity: 0;
            }
        }

        @keyframes spin { 
            0%{
                transform: rotate3d(0, 1, 0, 0deg);
            }
            50%{

            }
            100% { 

                transform: rotate3d(0, 1, 0, 180deg);
            } 
        }
    
        .stack:hover
        {
            animation:spin 1s linear forwards;
        }
    }



    .header {
        margin: 1rem 0 1rem 0;
        font-size: 32px;
    }

    .header {
        color: $tomato;
        user-select: none;
    }

    .blue {
        border: 1px solid $blue;
        color: $blue;

        &:hover {
            background-color: $tomato;
            border: 1px solid $tomato;
            color: $grey-dark;
        }
    }

    .flex {
        align-items: center;
        display: flex;
    }

    .footer {
        align-items: baseline;
        color: $silver;
        display: flex;
        font-size: 11px;
        gap: 1rem;
        justify-content: center;
        margin: 3rem;
    }

    .main-content {
        align-items: center;
        background-color: #fbfbfb;
        border-bottom: 3px dashed #ddd;
        display: flex;
        height: 350px;
        justify-content: center;
        margin: 0;
        padding: 14rem 0 14rem 0;
        width: 100%;
    }

    .text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        line-height: 45px;
        max-width: calc(100% - 30px);
    }

    @media (max-width: 1243px) {
        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0.5rem;
        }
    }
}
