@import "../../global.scss";

.login-page-container {
    .header {
        color: $tomato;;
    }

    .red {
        border: 1px solid $tomato;
        color: $tomato;

        &:hover {
            background-color: $tomato;
            border: 1px solid $grey-dark;
            color: $grey-dark;
        }
    }

    .blue {
        border: 1px solid $blue;
        color: $blue;

        &:hover {
            background-color: $blue;
            border: 1px solid $blue;
            color: $grey-dark;
        }
    }

    .footer {
        color: $silver;
        display: flex;
        font-size: 11px;
        justify-content: center;
        margin-top: 5rem;
    }

    .main-content {
        align-items: center;
        background-color: $white;
        display: flex;
        height: 600px;
        justify-content: center;
        margin: 0;
        padding: 15rem 0 15rem 0;
        width: 100%;
    }

    .text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        line-height: 45px;
        max-width: calc(100% - 30px);
    }

    @media (max-width: 1024px) {
        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 0.5rem;
        }
    }
}
