.login-page-container {
    .button {
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        margin: 2rem 2rem;
        outline: none;
        padding: .5rem 1rem;
    }

    .header {
        color: rgb(235, 88, 88);;
    }

    .red {
        border: 1px solid rgb(235, 88, 88);
        color: rgb(235, 88, 88);

        &:hover {
            background-color: rgb(235, 88, 88);
            border: 1px solid rgb(66, 55, 55);
            color: rgb(66, 55, 55);
        }
    }

    .main-content {
        align-items: center;
        background-color: rgb(240,242,245);
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 15rem 0 15rem 0;
        width: 100%;
    }

    .text {
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: 45px;
        max-width: 500px;
    }

    @media (max-width: 865px) {
        .main-content{
            display: inline-block;
            padding: 5rem 1rem;
        }
    }
}
