<section class="history-view">
  <div class="header">
    <button class="logout-button" mat-raised-button>Logout</button>
  </div>
  <div class="layout">
    <section>
      <input matInput [matDatepicker]="picker2" (dateChange)="dateChanged($event)" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </section>

    <div class="textarea-container">
      <textarea></textarea>
      <button mat-raised-button style="margin-top: 1rem;">Save</button>
    </div>
  </div>
</section>
